 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}


body {
    height: 100vh;
    background-image: linear-gradient(-225deg, #1b796c 0%, #2c3585 48%, #4CC3FF 100%);
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     background-color: rgb(34, 128, 96);
 
}
.welcome{
     align-items: center;
    text-align: center;
    text-shadow: #7C64D5;
    

}

.container {
    width: 300px;
    height: 450px;
    background: #fff;
    text-align: center;
    box-shadow: 10px 10px #1caac4;
    border-radius: 10px;
    overflow: hidden;
}
.container  #header-text{
    color: rgb(24, 87, 112);
}
.container  #header-text:hover{
    color: rgb(24, 112, 71);
}

#header-text {
    padding-top: 20px;
    font-weight: bold ;
}

#input {
    background: #e2f3f5;
    border: 0;
    border-left: 5px solid#1caac4;
    padding: 5px;
}

#input:focus {
    outline: none;
}

#error-text {
    font-size: 13px;
    color: #a50303;
    width: max-content;
    margin: 0 auto;
}

#btn {
    padding: 5px 10px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: unset;
    font-weight: bold;
    margin: 5px;
    transition: 1s;
    border-radius: 50%;
    font-size: 20px;
    cursor: grab;
    background: #178a7a;
}

#list {
    background: #e2f3f5;
    height: 250px;
    overflow: scroll;
    padding: 20px 0 0 0;
}

::-webkit-scrollbar {
    display: none;
}

.list-item {
    padding: 10px 15px;
    margin: 10px 20px;
    height: 40px;
    color: black;
    list-style: none;
    clear: both;
    transition: 1s ease-in-out;
    background: #fff;
    border-radius: 2px;
}

.list-text {
    float: left;
    text-align: left;
    font-size: 17px;
}

.list-text span {
    font-weight: bold;
    /* margin-bottom: 20px; */
}

#date-text {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: #888;
    text-align: left;
}

#action-btn {
    margin-top: 10px;
    float: right;
}

#action-btn i {
    cursor: grab;
    margin-right: 5px;
}

#action-btn .icon {
    width: 20px; 
    height: 20px;
    color: #d84d4d;
}

/*.remove_btn{
    margin-top: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(211, 84, 84);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 15px;
    transition: all 0.4s ease 0s;
    height: 55px;
    width: 150px;

}
.remove_btn:hover{
    background: red;
    letter-spacing: 1px;
   /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0,57);
    -moz-box-shadow : 5px 40px -10px rgba(0,0,0,0,57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0,57);*/
 /*   transition: all 0.4s ease 0s;

} */
